.DS_Store
firmware/.pio
firmware/.vscode
firmware/.vscode/.browse.c_cpp.db*
firmware/.vscode/c_cpp_properties.json
firmware/.vscode/launch.json
firmware/.vscode/ipch
firmware/.vscode/c_cpp_properties.json
firmware/.vscode/extensions.json
firmware/.vscode/launch.json




venv/
.env
__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/
*.log



# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*




node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

target

mqtt_listener